.container {
  background-image: url('your-image-url.jpg'); /* Replace 'your-image-url.jpg' with the actual URL of your image */
  background-size: cover;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.why-choose-us {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  
}

.why-choose-us-h3 {
  font-size: 20px;
  margin: 10px 0;
  color: maroon;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  
}
/* Responsive styling */
@media (max-width: 1200px) {
  .container {
    padding: 20px;
  }
}

@media (max-width: 992px) {
  .container {
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 5px;
    flex-direction: column;
  }
}
